/*body {*/
  /*font-size: 14pt;*/
/*}*/

.cal-wrapper {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    max-width: 500px;
    min-width: 280px;
    width:  100%;
    margin: 10px;
    /*display: table;*/
    border-collapse:separate;
    display: flex;
    /* border-spacing:5em; */
    /*table-layout: fixed;*/
}

.cal-weekdays {
    width: 100%;
    border: 0px;
    font-weight: bold;
    /*display: table-row;*/
    display: block;
    font-size: 12pt;
}

.cal-weekday {
    border: 0px;
    text-align: center;
    line-height: 100%;
    width: 14.28%;
    /*display: table-cell;*/
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    float: left;
    /* border-bottom: solid 1px #eee; */
}

.cal-days {
    width: 100%;
    /* line-height: 45px; */
}

.cal-day {
    text-align: center;
    float: left;
    width: 33%;
    cursor: pointer;

}

.cal-day-header {
  font-size: 1.1em;
  font-weight: bold;
}

.cal-day.selected > span{
    background: rgba(226,201,170,0.43);
    padding: 8px 12px;
    border-radius: 18px;
}

.cal-day.current > span {
  border: solid 1px #bb9e7b; /* #E2C9AA; */
  border-radius: 18px;
  padding: 8px 12px;
}

.cal-day.disabled > span {
   /*background: #eee;*/
   color: #ccc;

   padding: 10px 14px;
   border-radius: 18px;
}

.cal-day.firstchoice > span{
   /*background: #c0e1f1;*/
   background:#E2C9AA;

}
.cal-hours {
   margin-top: 20px;
   position: relative;
   top: 30px;
   cursor: pointer;
}
.cal-hour.selected > span {
    /*background:#E2C9AA;*/
    background: rgba(226,201,170,0.43);
    /*padding: 10px 14px;*/
    padding: 7px 7px;
    border-radius: 18px;
}

.cal-hour.firstchoice > span {
   /*background: #c0e1f1;*/
   background:#E2C9AA;
}

.cal-hour.disabled > span {
   color: #ccc;
   /*background-color: #eee;*/
   border-radius: 18px;
   padding: 6px 6px;
}


.cal-hour {
   margin-top: 12px;
}



.cal-hour-silo {
   width: 33%;
   margin: 0px;
   /*margin-top: 56px;*/
   float: left;
   min-height: 50px;
   text-align: center;
}

.cal-hour-silo-header {
   cursor: pointer;
}


.cal-navigator {

   position: relative;
   /*margin-top: 10px;*/
   /*height: 10px;*/
   height: 100%;
   display: inline-block;
   line-height: 30px;
   width: 30px;
   font-weight: bold;
   text-align: center;


}

.cal-navigator-prev {
   /* position: absolute; */
   /* left: 5.15%; */
   /* top: 0px; */
   /* width: 30px; */
   color: #777;
   /* height: 100%; */
   /* display: inline-block; */
   text-align: right;
}

.cal-navigator-btn {

  width: 30px;
  /* text-align: center; */
  font-family: serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
  /*color: black;*/
  transition: color .1s 0s ease-in-out;
  display:inline-block;
  -webkit-transform:scale(1,2.4); /* Safari and Chrome */
  -moz-transform:scale(1,2.4); /* Firefox */
  -ms-transform:scale(1,2.4); /* IE 9 */
  -o-transform:scale(1,2.4); /* Opera */
  transform:scale(1,2.4); /* W3C */
  /*position: relative;*/


}

.cal-navigator-next {
   /* position: absolute;
   right: 0.15%;
   top: 0px;
   width: 30;
   color: #777; */
   text-align: left;
}

.cal-navigator-month {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}

.cal-directive {
   height: 80px;
   text-align: center;
   padding: auto;
}


.cal-directive > span {
   font-weight: bold;
   margin: auto;
   padding-top: 20px;
   display: block;
   /*color: #999;*/
   /*color: #000;*/
}

.cal-directive.secondary span {
  color: #E2C9AA;

}

.cal-directive-uniq-sample {
   display: inline-block;
   width: 15%;
   line-height: 100%;
   height: 100%;
   vertical-align: middle;
}

.cal-directive-uniq-sample > span  {
    /*text-align: center;*/
    /*float: left;*/
    width: 14.28%;
    /*background: rgba(226,201,170,0.43);*/
    background: #E2C9AA;
    color: #E2C9AA;
    padding: 10px 14px;
    padding: 7px 7px;
    border-radius: 18px;
    font-weight: inherit;
}

.cal-directive-uniq-sample.secondary  > span {
    background: rgba(226,201,170,0.43);
    color: transparent;
    /*color: rgba(226,201,170);*/
}


.cal-directive-uniq-legend {
   width: 80%;
   display: inline-block;
   line-height: 100%;
   height: 100%;
   vertical-align: middle;
}

.cal-directive-uniq {
   margin-top: 20px;
   height: 22px;

}

.cal-directive-uniq.active {
   font-weight: bold;
   color: #000;
}

