.body {
  font-size: 14pt;
}
.cal-wrapper {
    max-width: 365px;
    min-width: 365px;
    width:  100%;
    /*display: table;*/
    border-collapse:separate;
    /* border-spacing:5em; */
    /*table-layout: fixed;*/
}

.cal-weekdays {
    width: 100%;
    border: 0px;
    font-weight: bold;
    /*display: table-row;*/
    display: block;
}

.cal-weekday {
    border: 0px;
    text-align: center;
    line-height: 100%;
    width: 14.28%;
    /*display: table-cell;*/
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    /* border-bottom: solid 1px #eee; */
}

.cal-days {
    width: 100%;
    line-height: 100px;
}

.cal-day {
    text-align: center;
    float: left;
    width: 14.28%;

}

.cal-day.selected > span{
    background:#E2C9AA;
    padding: 10px 14px;
    border-radius: 18px;
}

.cal-day.current > span {
  border: solid 2px #bb9e7b; /* #E2C9AA; */
  border-radius: 18px;
  padding: 10px 14px;
}

.cal-hour.selected > span {
    background:#E2C9AA;
    padding: 10px 14px;
    border-radius: 18px;
}


